apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: arc-controller
spec:
  generators:
  - list:
      elements:
      - cluster: https://kubernetes.default.svc
        cluster-name: bastet-cat
        prefix: gha-runners-controller
        environment: stg
  template:
    metadata:
      name: '{{cluster-name}}-controller-{{environment}}'
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      sources:
      - repoURL: 'https://github.com/bastet-cat/kind-kubernetes-for-poc.git'
        targetRevision: 'main'
        ref: values
      - repoURL: 'ghcr.io/actions/actions-runner-controller-charts'
        chart: 'gha-runners-controller'
        targetRevision: '0.9.3'
        helm:
          valueFiles:
            - '$values/applications.d/gha-runners-controller/values.yaml'
            - '$values/applications.d/gha-runners-controller/values-{{environment}}.yaml'
      destination:
        server: '{{cluster}}'
        namespace: 'arc-system'
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true

